@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 20 14.3% 4.1%;

        --card: 0 0% 100%;
        --card-foreground: 20 14.3% 4.1%;

        --popover: 0 0% 100%;
        --popover-foreground: 20 14.3% 4.1%;

        --primary: 24 9.8% 10%;
        --primary-foreground: 60 9.1% 97.8%;

        --secondary: 60 4.8% 95.9%;
        --secondary-foreground: 24 9.8% 10%;

        --muted: 60 4.8% 95.9%;
        --muted-foreground: 25 5.3% 44.7%;

        --accent: 60 4.8% 95.9%;
        --accent-foreground: 24 9.8% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 60 9.1% 97.8%;

        --border: 20 5.9% 90%;
        --input: 20 5.9% 90%;
        --ring: 20 14.3% 4.1%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 0%;
        --foreground: 60 9.1% 97.8%;

        --card: 20 14.3% 4.1%;
        --card-foreground: 60 9.1% 97.8%;

        --popover: 0 0% 0%;
        --popover-foreground: 60 9.1% 97.8%;

        --primary: 60 9.1% 97.8%;
        --primary-foreground: 24 9.8% 10%;

        --secondary: 12 6.5% 15.1%;
        --secondary-foreground: 60 9.1% 97.8%;

        --muted: 12 6.5% 15.1%;
        --muted-foreground: 24 5.4% 63.9%;

        --accent: 12 0% 8%;
        --accent-foreground: 60 9.1% 97.8%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 60 9.1% 97.8%;

        --border: 12 6.5% 15.1%;
        --input: 12 6.5% 15.1%;
        --ring: 24 5.7% 82.9%;
    }

}

@layer components {
    .custom-bg {
        @apply absolute inset-0 -z-10 h-full w-full bg-white;
        background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
        background-size: 16px 16px;
    }

    .dark .custom-bg {
        @apply absolute top-0 z-[-2] h-screen w-screen bg-black;
        background-image: radial-gradient(#ffffff33 1px, #000000 1px);
        background-size: 20px 20px;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    .gradient-text {
        @apply bg-clip-text text-transparent bg-gradient-to-r from-cyan-500 to-violet-500;
    }

    .gradient-text-effect {
        @apply inline-flex font-normal bg-clip-text bg-[200%_auto] text-transparent animate-text-gradient bg-gradient-to-r from-cyan-500 via-violet-500 to-cyan-500 dark:from-cyan-500 dark:via-violet-500 dark:to-cyan-500;
    }
}

h1 {
    @apply text-3xl sm:text-4xl lg:text-5xl xl:text-6xl dark:text-white text-black;
}

h2 {
    @apply text-2xl sm:text-3xl lg:text-4xl xl:text-5xl dark:text-white text-black;
}

h4 {
    @apply text-base sm:text-xl lg:text-2xl xl:text-3xl dark:text-white text-black;
}

h3 {
    @apply text-base sm:text-sm lg:text-lg xl:text-xl dark:text-white text-black;
}

h5 {
    @apply text-base sm:text-lg lg:text-xl xl:text-2xl dark:text-white text-black;
}

h6 {
    @apply sm:text-xs xl:text-sm font-normal tracking-widest uppercase dark:text-slate-500 text-slate-600;
}

p {
    @apply text-slate-600 dark:text-gray-400;
}